.content-3at_AU .name-3_Dsmg, .icon-1_QxNX {color: var(--channel-color); }

.content-3at_AU .icon-1_QxNX {color: var(--channel-color);}
.content-3at_AU .icon-1_QxNX:focused {color: var(--channel-color);}
.containerDefault-1ZnADq .wrapper-1ucjTd.modeSelected-1zApJ_ .content-3at_AU .name-3_Dsmg, icon-1_QxNX {color: var(--channel-color);}
